@charset "UTF-8";

html, body {
    height: 100%;
    margin: 0pt;
    font: 1.0125em futura pt;
}
.mobile{
	display:initial;
}
.tablet{
	display:none;
}
.desktop{
	display:none;
}
body{
    background-color: rgb(230,230,230);
}
/*video.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}*/
video{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.color-band{
  height: 1vw;
  position: relative;
  background: linear-gradient(to right,
    #F9D31A 20%,
    #CE000C 20%,
    #CE000C 40%,
    #0198F1 40%,
    #0198F1 50%,
    #15152A 50%,
    #15152A 70%,
    #FFFFFF 70%,
    #FFFFFF 90%,
    #007E1A 90%,
    #007E1A);
  top:0px;
  margin-bottom: 4px;
}
h1{
  font: 3vw futura pt Bold;
  /* letter-spacing: -.12em; */
  position: relative;
  margin-left: 3.75vw;
}
h2{
  font: 2vw futura pt Bold;
  /* letter-spacing: -.12em; */
  position: relative;
  margin-left: 3.75vw;
}
.emphasis{
  font: 2vw futura pt Bold;
  /* letter-spacing: -.12em; */
  position: block;
}
#typographic-logo{
  margin-left: 3.75vw;
  margin-top: 80vh;
  width: 30vw;
}
#typographic-logo .color-band{
  width: 30vw;
}
#motorsports-type{
  font: 3.75vw futura pt Bold;
  /* letter-spacing: -.12em; */
  line-height: .85;
  color: white;
}
.centered{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.justified{
  text-align: justify;
}
.pane{
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: relative;
  margin-top:0;
}
.fourth-pane{
  overflow: visible;
  min-height: 25vh;
  width: 100vw;
  position: relative;
  margin-top:0;
}
.threefourth-pane{
  overflow: hidden;
  height: 75vh;
  width: 100vw;
  position: relative;
  margin-top:0;
}
.pane-half{
  overflow: hidden;
  height: 50vh;
  width: 100vw;
  position: relative;
  margin-top:0;
}
.pane-content{
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}
.content{
  width: 80vw;
  position: relative;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}
.content *{
  display: block;
}
.background-image-container{
  position: absolute;
  height: 100vh;
  top: 0;
  left: 5vw;
  width: 90vw;
  z-index: 0;
}
.background-overlay{
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.875);
}
.extended{
  width:100vw;
  left: 0;
}
.background-image-relative{
  top: 25vh;
  position: relative;
  height: 50vh;
  left: 0;
  z-index: -100;
}
.background-image-absolute{
  position: absolute;
  height: 100vh;
  z-index: -100;
}
.body-text{
  padding: 50px;
  z-index: 100;
}
.stroke{
  font: futura pt;
  font-style: italic;
  font-weight:500;
  font-size: 3vw;
  /* -webkit-text-stroke-width: 2px; */
  /* -webkit-text-stroke-color: white; */
  color: white;
}
#intro{
  background-color: rgba(0,0,0,.55);
  margin-top: 0;
  top: 0;
}
#team-summary{
  background-color: white;
  color: black;
}
#vision{
  background-color: #000000;
  color: white;
}
#get-involved{
  background-color: #0198F1;
  color: white;
}
#tune{
  background-color: #000000;
  color: white;
}
#body-iso-1{
  top: -10vh;
  position: relative;
}
@media screen and (min-width: 800px) {
  .mobile{
      display:none;
  }
  .tablet{
      display:initial;
  }
  .desktop{
      display:none;
  }
}

@media screen and (min-width: 1100px) {
  .mobile{
      display:none;
  }
  .tablet{
      display:none;
  }
  .desktop{
      display:initial;
  }
}
